.chat_container {
  width: 380px;
  margin:0 auto;
  max-height: 800px;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 
              0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.chat_header_text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.chat_date_container{
  margin:20px 0;
}
.chat_date {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b4b4b;
    color: white;
    border-radius: 12px; 
    padding: 8px 16px; 
    font-size: 10px;
    font-weight: bold; 
    gap: 8px; 
    width:200px;
    margin:0 auto;
}
.chat_messages {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 8px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}
.no_chat_message{
  text-align: center;
  font-weight: bold;
  margin-top:15px;
  font-size:12px;
}
.chat_messages_container{
  flex:1;
  display: flex;
  flex-direction: column;
}
.chat_messages::-webkit-scrollbar{
    width: 10px;
}
.chat_messages::-webkit-scrollbar-thumb{
    background-color: #ffc4c9;
    border-radius: 10px;
}
.chat_messages::-webkit-scrollbar-track{
    background-color: #f5f5f5;
}
.chat_message {
  white-space: pre-line;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 10px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 1.4;
  font-weight: bold;
  position: relative;
}
.chat_my_message_container{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  max-width: 75%;
}
.chat_message_container{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 75%;
  margin:5px 0;
}
.chat_message_self {
  background: #ff6b6b;
  color: white;
}
.chat_message_other {
  background: #e0e0e0;
  color: #333;
}
.chat_message_other::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -8px;
  width:0;
  height: 0;
  border:20px solid transparent;
  border-right-color: #e0e0e0;
  border-left: 0;
  border-bottom: 0;
}
.chat_message_self::after {
  content: "";
  position: absolute;
  right:-9px;
  bottom: 0;
  width:0;
  height: 0;
  border:20px solid transparent;
  border-left-color: #ff6b6b;
  border-right: 0;
  border-bottom: 0;
}

.name{
  font-size: 10px;
  margin:0 0 0 4px;
}
.chat_display{
  display: flex;
  gap:10px;
  align-items: flex-end;
}
.chat_time {
  font-size: 10px;
  text-align: right;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.4);
} 
.chat_input_container {
  display: flex;
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.chat_input {
  resize:none;
  overflow: hidden;
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
  outline: none;
}
.chat_send_button {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 12px 15px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}
.chat_send_button:hover {
  background: #f13838;
}
.chat_header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}
.chat_room_title {
  max-width: 250px;
  flex-grow: 1; 
  text-overflow: ellipsis; 
  overflow: hidden;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 5px;
}
.exit_chat {
  background: none;
  border: none;
  font-size: 24px;
  align-self: flex-end;
  border-radius: 8px;
  width: 50px;
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.exit_chat:hover{
  cursor: pointer;
  background-color: #f0f0f0;
}