.container{
    width :100%;
    height:750px;
    border-radius: 12px;
}
.side_bar_container{
    position: absolute;
    left:25px;
    text-align: center;
    top: 100px;
    z-index: 5;
}
.logout_wrapper, .current_wrapper, .search_wrapper{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.879);
    margin:15px 0;
}
.logout_logo{
    cursor: pointer;
    font-size:25px;
}
.search_logo, .current_logo{
    font-size:25px;
    cursor: pointer;
}
.button_container{
    position: absolute;
    left:350px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.879);
    border-radius: 4px;
    width: 30px;
    background-color: #ffffff;
    top: 200px;
    z-index: 5;
}
.plus_box{
    border-bottom: 1px solid #333;
}
.plus_box, .minus_box{
    cursor: pointer;
    padding:5px 0;
}
.marker_image_box{
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.marker_image{
    width:39px;
    height:39px;
}
.customoverlay {
    position: absolute;
    left:50%;
    bottom:30px;
    transform: translateX(-50%);
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
}
.customoverlay:nth-of-type(n) {
    border:0; 
    box-shadow:0px 1px 2px #888;
}
.customoverlay p {
    display:block;
    text-decoration:none;
    margin-bottom: 0;
    color:#000;
    text-align:center;
    border-radius:6px;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
    background: #d95050;
    background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}
.customoverlay .title, .capacity, .open, .closed {
    display:block;
    text-align:center;
    background:#fff;
    margin-right:35px;
    padding-left: 15px;
    padding-right: 15px;
}
.capacity, .closed{
    font-size:10px;
    font-weight:bold;
    color:red;
}
.open {
    font-size:10px;
    font-weight:bold;
    color:#0ab116;
}
.title{
    padding-top: 10px;
    font-size:12px !important;
}
.open,.closed{
    padding-bottom: 10px;
}
.customoverlay:after {
    content:'';
    position:absolute;
    left:50%;
    transform: translateX(-50%); /* 중앙 보정 */
    bottom:-12px;
    width:22px;
    height:12px;
    background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}
.clusterMarker_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 153, 255, 0.2);
    border-radius: 50%;
    z-index: 0;
    cursor : pointer;
    pointer-events : auto;
}
.clusterMarker{
    position:absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: rgba(0, 153, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    z-index: 1;
}