.container{
    right: 45px;
    top: 10px;
    z-index: 3;
    position: absolute;
    padding: 0 30px;
    width: 400px;
    padding-bottom: 16px;
}
.input{
    margin-left: 45px;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.879);
}
.search_icon{
    font-size: 25px;
    left: 83px;
    color: #333;
    position: absolute;
    cursor: pointer;
    top: 13px;
}