.header {
    width:90%;
    margin:0 auto;
    border-bottom: 1px solid #777;
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_text{
    color:#0d147a;
    font-size:20px;
    font-weight: bold;
    margin:0;
}
.back_icon{
    font-size:25px;
    cursor: pointer;
}
.description{
    margin-top: 30px;
    font-weight: bold;
    color:#0d147a;
    font-size:14px;
    text-align: center;
}