.header{
    margin-top:55px;
    text-align: center;
}
.header h1 {
    font-family: "Playwrite NZ", cursive;
    font-weight: bold;
    font-optical-sizing: auto;
    font-size:35px;
    font-style: normal;
    color:#0710af;
}
.description{
    margin-toP:30px;
    color:#333333;
    opacity: 0.8;
    font-size: 15px;
}
.form_description{
    font-size:23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.link_wrapper {
    margin-top:20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}
.link {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
    cursor: pointer;
}
