.header{
    margin-top:80px;
    text-align: center;
}
.header h1 {
    font-family: "Playwrite NZ", cursive;
    font-weight: bold;
    font-optical-sizing: auto;
    font-size:35px;
    font-style: normal;
    color:#0d147a;
}
.header_img{
    width:50px;
    height: 50px;
    border-radius: 8px;
}
.header_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px
}
.description{
    margin-top: 30px;
    color:#333333;
    opacity: 0.8;
    font-size: 13px;
    white-space: pre-line;
}
.form_description{
    font-size:23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.link_wrapper {
    margin-top:20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}
.link {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
    cursor: pointer;
}
